<!-- 
  Test Korus' motor boards
  Remember to set the simulation argument according to where you run this test (robot or simulation) 
  -->

<launch>
  <arg name="simulation" value="false"/>
  <arg name="cfg_env" value="simulation" if="$(arg simulation)"/>
  <arg name="cfg_env" value="runtime" unless="$(arg simulation)"/>

   <node pkg="nodelet" type="nodelet" name="robot_core" args="manager"/>

   <node pkg="nodelet" type="nodelet" name="goo_base" args="load goo/GooNodelet robot_core">
    <rosparam file="$(find korus_meta)/resources/yaml/goo/$(arg cfg_env).yaml" command="load" />
    <rosparam file="$(find korus_meta)/resources/yaml/goo/base.yaml" command="load" />
    <remap from="goo_base/actuator_command/wheel_left" to="actuator_command/wheel_left"/>
    <remap from="goo_base/actuator_state/wheel_left" to="actuator_state/wheel_left"/>
    <remap from="goo_base/actuator_command/wheel_right" to="actuator_command/wheel_right"/>
    <remap from="goo_base/actuator_state/wheel_right" to="actuator_state/wheel_right"/>
    <remap from="goo_base/enable" to="enable"/>
    <remap from="goo_base/disable" to="disable"/>
  </node>
	<node pkg="nodelet" type="nodelet" name="goo_arm_upper" args="load goo/GooNodelet robot_core">
	  <rosparam file="$(find korus_meta)/resources/yaml/goo/$(arg cfg_env).yaml" command="load" />
	  <rosparam file="$(find korus_meta)/resources/yaml/goo/arm_upper.yaml" command="load" />
	  <remap from="goo_arm_upper/actuator_command/torso_turn" to="actuator_command/torso_turn"/>
	  <remap from="goo_arm_upper/actuator_state/torso_turn" to="actuator_state/torso_turn"/>
	  <remap from="goo_arm_upper/actuator_command/torso_lift" to="actuator_command/torso_lift"/>
	  <remap from="goo_arm_upper/actuator_state/torso_lift" to="actuator_state/torso_lift"/>
	  <remap from="goo_arm_upper/actuator_command/shoulder_pitch" to="actuator_command/shoulder_pitch"/>
	  <remap from="goo_arm_upper/actuator_state/shoulder_pitch" to="actuator_state/shoulder_pitch"/>
	  <remap from="goo_arm_upper/actuator_command/elbow_pitch" to="actuator_command/elbow_pitch"/>
	  <remap from="goo_arm_upper/actuator_state/elbow_pitch" to="actuator_state/elbow_pitch"/>
	  <remap from="goo_arm_upper/enable" to="enable"/>
	  <remap from="goo_arm_upper/disable" to="disable"/>
	</node>
	<node pkg="nodelet" type="nodelet" name="goo_arm_lower" args="load goo/GooNodelet robot_core">
	  <rosparam file="$(find korus_meta)/resources/yaml/goo/$(arg cfg_env).yaml" command="load" />
	  <rosparam file="$(find korus_meta)/resources/yaml/goo/arm_lower.yaml" command="load" />
	  <remap from="goo_arm_lower/actuator_command/wrist_pitch" to="actuator_command/wrist_pitch"/>
	  <remap from="goo_arm_lower/actuator_state/wrist_pitch" to="actuator_state/wrist_pitch"/>
	  <remap from="goo_arm_lower/actuator_command/wrist_roll" to="actuator_command/wrist_roll"/>
	  <remap from="goo_arm_lower/actuator_state/wrist_roll" to="actuator_state/wrist_roll"/>
	  <remap from="goo_arm_lower/actuator_command/wrist_yaw" to="actuator_command/wrist_yaw"/>
	  <remap from="goo_arm_lower/actuator_state/wrist_yaw" to="actuator_state/wrist_yaw"/>
	  <remap from="goo_arm_lower/actuator_command/gripper" to="actuator_command/gripper"/>
	  <remap from="goo_arm_lower/actuator_state/gripper" to="actuator_state/gripper"/>
	  <remap from="goo_arm_lower/enable" to="enable"/>
	  <remap from="goo_arm_lower/disable" to="disable"/>
	</node>
</launch>