<!--
    Test the robot core only
    Remember to set the simulation variable depending on where you launch this file! 
 -->
 
<launch>
  <arg name="simulation" value="false"/>
  <include file="$(find korus_meta)/resources/launch/components/robot_core_wo_base.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>
</launch>