<launch>
  <group ns="korus">
    <!-- 3D sensor -->
    <include file="$(find korus_meta)/resources/launch/components/sensors/3d_sensor.launch"/>
    
    <!-- For environment perception -->
    <include file="$(find korus_meta)/resources/launch/components/arm_navigation/robot_self_filter.launch"/>
    <include file="$(find korus_meta)/resources/launch/components/arm_navigation/octomap_mapping.launch"/>
    
    <!-- For planning and execution -->
    <param name="/use_sim_time" value="false" />
    <include file="$(find korus_v3_arm_navigation)/launch/korus_v3_planning_environment.launch" />
    <include file="$(find planning_environment)/launch/environment_server.launch">
        <arg name="use_monitor" value="true" />
        <arg name="use_collision_map" value="true" />
    </include>
    <remap from="/environment_server/get_robot_state" to="environment_server/get_robot_state"/>
    <include file="$(find korus_v3_arm_navigation)/launch/constraint_aware_kinematics.launch" />
    <include file="$(find korus_v3_arm_navigation)/launch/ompl_planning.launch" />
    <include file="$(find korus_v3_arm_navigation)/launch/trajectory_filter_server.launch" />
    <include file="$(find korus_v3_arm_navigation)/launch/move_groups.launch" />
    
    <node pkg="korus_smach" type="move_arm_ik_as.py" name="move_arm_ik"/>
    <node pkg="korus_smach" type="move_arm_planner_as.py" name="move_arm_planner"/>
    <node pkg="korus_smach" type="move_gripper_as.py" name="move_gripper"/>
  </group>
</launch>
