<launch>
  <group ns="korus">
  <param name="/use_sim_time" value="false" />
  <include file="$(find korus_v3_arm_navigation)/launch/korus_v3_planning_environment.launch" />

  <param name="warehouse_host" value="$(env ROS_HOSTNAME)"/>
  <param name="warehouse_port" value="27020"/>
  <node name="mongo" type="wrapper.py" pkg="mongodb">
    <param name="overwrite" value="false"/>
    <param name="database_path" value="arm_navigation_dbs/korus_v3"/>
  </node>

<!--   <include file="$(find korus_meta)/resources/launch/components/sensors/3d_sensor.launch"/> -->
  <include file="$(find korus_meta)/resources/launch/components/arm_navigation/robot_self_filter.launch"/>
  <include file="$(find korus_meta)/resources/launch/components/arm_navigation/octomap_mapping.launch"/>


  <include file="$(find planning_environment)/launch/environment_server.launch">
    <arg name="use_monitor" value="true" />
    <arg name="use_collision_map" value="true" />
  </include>
  <include file="$(find korus_v3_arm_navigation)/launch/constraint_aware_kinematics.launch" />
  <include file="$(find korus_v3_arm_navigation)/launch/ompl_planning.launch" />
  <include file="$(find korus_v3_arm_navigation)/launch/trajectory_filter_server.launch" />

  <node name="interpolated_ik_node_right" pkg="interpolated_ik_motion_planner" 
	type="interpolated_ik_motion_planner.py" args="r" respawn="false">
    <param name="robot_prefix" type="string" value="korus_v3"/>
    <param name="consistent_angle" type="double" value="1.05"/>
  </node>
  <node name="interpolated_ik_node_left" pkg="interpolated_ik_motion_planner" 
        type="interpolated_ik_motion_planner.py" args="l" respawn="false">
    <param name="robot_prefix" type="string" value="korus_v3"/>
    <param name="consistent_angle" type="double" value="1.05"/>
  </node>
  </group>
</launch>
