<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="korus">
  <include filename="$(find korus_meta)/resources/urdf/korus_robosem_base_front_mount.xacro"/>
  <include filename="$(find korus_meta)/resources/urdf/schunk_pwa_arm.xacro"/>
  
  <!-- ************************ Robot model ************************* -->
  <xacro:korus_robosem_base_front_mount>
  </xacro:korus_robosem_base_front_mount>  
  
  <!-- ************************ Arm model ************************* -->
	<xacro:schunk_pwa_arm parent="body_link">
	</xacro:schunk_pwa_arm>
</robot>