<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="korus">
  <include filename="$(find korus_meta)/resources/urdf/korus_robosem_base_back_mount_ava.xacro"/>
  <include filename="$(find korus_meta)/resources/urdf/korus_arm_forward.xacro"/>
  
  <!-- ************************ Robot model ************************* -->
<!--   <xacro:korus_robosem_base_back_mount_ava arm_link="torso_lift_link"> -->
  <xacro:korus_robosem_base_back_mount_ava>
  </xacro:korus_robosem_base_back_mount_ava>  
  
  <!-- ************************ Arm model ************************* -->
	<xacro:korus_arm_forward parent="torso_lift_link">
	</xacro:korus_arm_forward>
</robot>