<!--
  The core nodelets all together.
  
  - motor subsystem
  - mechanism
  - controllers
  
  This can be used for both simulation and the robot by making sure the robot arg is set
  to either 'simulation' or 'korus'.
-->
 
<launch>
  <arg name="simulation"/>
  <arg name="whole_body_control"/>
  <arg name="kinematics_base"/>
  <arg name="position_controlled_base" value="false" unless="$(arg kinematics_base)"/>
  <arg name="position_controlled_base" value="true" if="$(arg kinematics_base)"/>
  <arg name="korus_v3_1"/>
  <arg name="korus_v3_2"/>

  
  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="robot_core" args="manager">
    <param name="num_worker_threads" value="4"/>
  </node>
  
  <!-- goo -->
  <include file="$(find korus_meta)/resources/launch/components/robot_core/korus_v3/goos.launch">
    <arg name="simulation" value="$(arg simulation)"/>
	  <arg name="korus_v3_1" value="$(arg korus_v3_1)"/>
	  <arg name="korus_v3_2" value="$(arg korus_v3_2)"/>

    <arg name="position_controlled_base" value="$(arg position_controlled_base)"/>
  </include>
  
  <!-- mechanism model -->
  <include file="$(find korus_meta)/resources/launch/components/robot_core/korus_v3/mechanism.launch">
    <arg name="kinematics_base" value="$(arg kinematics_base)"/>
  </include>
  
  <!-- controllers -->
  <include file="$(find korus_meta)/resources/launch/components/robot_core/korus_v3/base_controller.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>
  <include unless="$(arg whole_body_control)" file="$(find korus_meta)/resources/launch/components/robot_core/korus_v3/arm_controller.launch"/>
  <include unless="$(arg whole_body_control)" file="$(find korus_meta)/resources/launch/components/robot_core/korus_v3/gripper_controller.launch"/>
  <include unless="$(arg whole_body_control)" file="$(find korus_meta)/resources/launch/components/robot_core/korus_v3/head_controller.launch"/>
<!--   <include unless="$(arg whole_body_control)" file="$(find korus_meta)/resources/launch/components/robot_core/korus_v3/upper_body_controller.launch"/> -->
<!--   <include if="$(arg whole_body_control)" file="$(find korus_meta)/resources/launch/components/robot_core/korus_v3/whole_body_controller.launch"> -->
<!--     <arg name="kinematics_base" value="$(arg kinematics_base)"/> -->
<!--   </include> -->
</launch>
