<!--
  Korus sensors; do not launch on simulation
 -->

<launch>
  <arg name="launch_hokuyo"/>
  <arg name="launch_kinect"/>
  <arg name="launch_sonars"/>

  <!--  ************ Hokuyo laser ******************  -->
  <node if="$(arg launch_hokuyo)" name="laser" pkg="hokuyo_node" type="hokuyo_node" respawn="false">
    <rosparam file="$(find korus_meta)/resources/yaml/sensors/hokuyo.yaml" command="load"/>

    <!--  Remaps  -->
    <remap from="/korus/scan" to="/korus/base_scan"/>
  </node>
  
  <!--  ************ 3D sensor *****************  -->
  <include if="$(arg launch_kinect)" file="$(find korus_meta)/resources/launch/components/sensors/kinect.launch"/>

  <!--  *********** Ultrasound rangers *************  -->
  <include if="$(arg launch_sonars)" file="$(find korus_meta)/resources/launch/components/sensors/sonars.launch"/>
</launch>