<!-- 
  Rosnav move_base node. Descriptions of parameters can be found at
  http://www.ros.org/wiki/move_base.
-->
<launch>
  <arg name="costmap_sensors"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node">

    <!--  Remappings -->
    <!-- <remap from="odom" to="/korus/odom"/> -->
    <remap from="cmd_vel" to="navigation_vel_smoother/raw_cmd_vel"/>
    <!-- <remap from="base_scan" to="/korus/base_scan"/> -->
    
    <!--  Parameters -->
    <rosparam file="$(find korus_meta)/resources/yaml/move_base/move_base.yaml" command="load"/>
    <rosparam file="$(find korus_meta)/resources/yaml/move_base/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find korus_meta)/resources/yaml/move_base/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find korus_meta)/resources/yaml/move_base/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find korus_meta)/resources/yaml/move_base/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find korus_meta)/resources/yaml/move_base/base_local_planner_params.yaml" command="load"/>

    <!--
      Dynamically configure the sensors to use for costmap building; costmap_sensors
      argument must contain a list of observation source names separated by spaces.
    -->
    <param name="local_costmap/observation_sources" value="$(arg costmap_sensors)"/>
    <param name="global_costmap/observation_sources" value="$(arg costmap_sensors)"/>
  </node>

  <!-- Navigation velocity smoother -->
  <node pkg="nodelet" type="nodelet" name="navigation_vel_smoother"
       args="load yocs_velocity_smoother/VelocitySmootherNodelet robot_core">

    <!-- Load default parameters but restrict additionally max speed on automatic navigation -->
    <rosparam file="$(find korus_meta)/resources/yaml/mobile_base/vel_smoother.yaml" command="load"/>
    <param name="speed_lim_v" value="0.35"/>
    <param name="speed_lim_w" value="0.85"/>
    
    <remap from="navigation_vel_smoother/smooth_cmd_vel" to="cmd_vel_mux/input/navigation"/>

    <!-- Robot velocity feedbacks; use the default base configuration -->
    <remap from="navigation_vel_smoother/odometry" to="odom"/>
    <remap from="navigation_vel_smoother/robot_cmd_vel" to="cmd_vel"/>
  </node>
</launch>
