<!--
  The core nodelets all together.
  
  - motor subsystem
  - mechanism
  - controllers
  
  This can be used for both simulation and the robot by making sure the robot arg is set
  to either 'simulation' or 'korus'.
-->
 
<launch>
  <arg name="simulation"/>
  <arg name="pot"/>
  <arg name="upper_body_control"/>
  <arg name="omni_base"/>
  <arg name="position_controlled_base" value="false" unless="$(arg omni_base)"/>
  <arg name="position_controlled_base" value="true" if="$(arg omni_base)"/>
  <arg name="korus_1"/>
  <arg name="korus_2"/>

  
  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="robot_core" args="manager">
    <param name="num_worker_threads" value="8"/>
  </node>
  
  <!-- goo -->
  <include file="$(find korus_meta)/resources/launch/components/robot_core/goos.launch">
    <arg name="simulation"                value="$(arg simulation)"/>
    <arg name="pot"                       value="$(arg pot)"/>
    <arg name="korus_1"                   value="$(arg korus_1)"/>
    <arg name="korus_2"                   value="$(arg korus_2)"/>
    <arg name="position_controlled_base"  value="$(arg position_controlled_base)"/>
  </include>
  
  <!-- mechanism model -->
  <include file="$(find korus_meta)/resources/launch/components/robot_core/mechanism.launch">
    <arg name="omni_base" value="$(arg omni_base)"/>
  </include>
  
  <!-- controllers -->
  <include file="$(find korus_meta)/resources/launch/components/robot_core/base_controller.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>
  <include unless="$(arg upper_body_control)" file="$(find korus_meta)/resources/launch/components/robot_core/arm_controller.launch"/>
  <include unless="$(arg upper_body_control)" file="$(find korus_meta)/resources/launch/components/robot_core/gripper_controller.launch"/>
  <include unless="$(arg upper_body_control)" file="$(find korus_meta)/resources/launch/components/robot_core/head_controller.launch"/>
  <include if="$(arg upper_body_control)" file="$(find korus_meta)/resources/launch/components/robot_core/upper_body_controller.launch"/>
</launch>
