<!--
  Launches the Cruizcore gyro
 -->

<launch>
  <node pkg="nodelet" type="nodelet" name="cruizcore" args="load cruizcore/CruizCoreNodelet robot_core">
    <remap from="cruizcore/gyro_data" to="mobile_base/gyro_data"/>
    <rosparam file="$(find korus_meta)/resources/yaml/sensors/cruizcore.yaml" command="load"/>
  </node>
</launch>
