<!--
  Object manipulation setup for Korus
  
  In detail:
    * robot core (Goo, mechanism model, joint trajectory controller, ...)
    * sensors (3D sensor)
    * MoveIt! (configured for Korus)
    * ORK (tabletop)
    * SMACH user interface
 -->
<launch>
  <!-- Parameters for minimal configuration -->
  <arg name="launch_hokuyo"                 value="false"/>
  <arg name="launch_sonars"                 value="false"/>
  <arg name="launch_sensor_3d"              value="true"/>
  <arg name="launch_stargazer"              value="false"/>
  <arg name="launch_gripper_camera"         value="false"/>
  <arg name="launch_gyro"                   value="false"/>
  <arg name="launch_sensor_board"           value="false"/>
  <arg name="launch_remocon"                value="false"/>

  <!--  ************** Korus' minimal configuration **************  -->
  <include file="$(find korus_meta)/resources/launch/minimal_1.launch">
    <arg name="pot"                       value="false"/>
    <arg name="launch_hokuyo"             value="$(arg launch_hokuyo)"/>
    <arg name="launch_sonars"             value="$(arg launch_sonars)"/>
    <arg name="launch_sensor_3d"          value="$(arg launch_sensor_3d)"/>
    <arg name="launch_stargazer"          value="$(arg launch_stargazer)"/>
    <arg name="launch_gripper_camera"     value="$(arg launch_gripper_camera)"/>
    <arg name="launch_gyro"               value="$(arg launch_gyro)"/>
    <arg name="launch_sensor_board"       value="$(arg launch_sensor_board)"/>
    <arg name="launch_remocon"            value="$(arg launch_remocon)"/>
  </include>
  
  <!--  ************** Korus' MoveIt! configuration **************  -->
<!--   <include file="$(find korus_moveit_config)/launch/korus/moveit_korus.launch"/> -->
  
  <!--  ************** ORK tabletop **************  -->
<!--   <include file="$(find korus_meta)/resources/launch/object_recognition/or_tabletop.launch"/> -->
  
  <!--  ************** SMACH user interface for ORK **************  -->
<!--   <include file="$(find korus_smach)/launch/find_object.launch"/> -->
</launch>