<!--
  Launches the mighty Korus
  
  In detail:
   * robot core (goo, mechanism model, joint trajectory controller, ...)
   ** uses parameters for Yujin's Korus (V3.1)
   * sensors (if set to true)
 -->
<launch>
  <group ns="korus">
    <!--  ************* Robot core components **********  -->
    <include file="$(find korus_meta)/resources/launch/components/korus_v3_robot_core.launch">
      <arg name="simulation" value="false"/>
      <arg name="whole_body_control" value="false"/>
      <arg name="kinematics_base" value="false"/>
      
      <arg name="korus_v3_1" value="true"/>
      <arg name="korus_v3_2" value="false"/>


    </include>
    
    <!--  ***************** Robot sensors **************  -->
    <include file="$(find korus_meta)/resources/launch/components/korus_v3_sensors.launch">
      <arg name="launch_hokuyo" value="false"/>
      <arg name="launch_sonars" value="false"/>
      <arg name="launch_sensor_3d" value="false"/>
      <arg name="launch_stargazer" value="false"/>
      <arg name="launch_gripper_camera" value="false"/>
      <arg name="launch_gyro" value="false"/>
      <arg name="launch_sensor_board" value="false"/>
      <arg name="launch_remocon" value="false"/>
    </include>
  </group>
</launch>