<!--
  Launches a joint trajectory controller for the torso and arm (joints)
-->

<launch>
  <node pkg="nodelet" type="nodelet" name="arm_controller" args="load ycs_joint_trajectory_controller/JointTrajectoryControllerNodelet robot_core">
    <!-- Parameters -->
    <param name="frequency"  value="20"  type="double"/>
    <param name="feedback_frequency"  value="20"  type="double"/>
    <param name="state_frequency"  value="20"  type="double"/>
    <param name="estimated_interpolation_time"  value="0.01"  type="double"/>
    <!-- Parameter remappings -->
    <remap from="arm_controller/joint_names" to = "mechanism_model/joint_groups/arm"/>
    <remap from="arm_controller/joints" to = "mechanism_model/joints"/>
    <!-- Torso -->
    <remap from="arm_controller/joint_command/torso_turn" to="joint_command/torso_turn"/>
    <remap from="arm_controller/joint_state/torso_turn" to="joint_state/torso_turn"/>
    <remap from="arm_controller/joint_command/torso_lift" to="joint_command/torso_lift"/>
    <remap from="arm_controller/joint_state/torso_lift" to="joint_state/torso_lift"/>
    <!-- Arm -->
    <remap from="arm_controller/joint_command/shoulder" to="joint_command/shoulder"/>
    <remap from="arm_controller/joint_state/shoulder" to="joint_state/shoulder"/>
    <remap from="arm_controller/joint_command/elbow" to="joint_command/elbow"/>
    <remap from="arm_controller/joint_state/elbow" to="joint_state/elbow"/>
    <remap from="arm_controller/joint_command/wrist" to="joint_command/wrist"/>
    <remap from="arm_controller/joint_state/wrist" to="joint_state/wrist"/>
  </node>
</launch>
