<!--
  Diff drive module w/o Cruizcore
-->

<launch>
  <arg name="simulation"/>
  
  <node if="$(arg simulation)" pkg="nodelet" type="nodelet" name="mobile_base" args="load diff_drive_base/DiffDriveBase robot_core">
    <rosparam file="$(find korus_meta)/resources/yaml/mobile_base/diff_drive_base.yaml" command="load"/>
    <remap from="mobile_base/joint_command/wheel_left" to="joint_command/wheel_left"/>
    <remap from="mobile_base/joint_state/wheel_left" to="joint_state/wheel_left"/>
    <remap from="mobile_base/joint_command/wheel_right" to="joint_command/wheel_right"/>
    <remap from="mobile_base/joint_state/wheel_right" to="joint_state/wheel_right"/>
    <remap from="mobile_base/cmd_vel" to="cmd_vel"/>
    <remap from="mobile_base/odom" to="odom"/>
    <remap from="mobile_base/enable" to="enable"/>
    <remap from="mobile_base/disable" to="disable"/>
  </node>
  
  <node unless="$(arg simulation)" pkg="nodelet" type="nodelet" name="mobile_base" args="load diff_drive_gyro_base/DiffDriveGyroBase robot_core">
    <rosparam file="$(find korus_meta)/resources/yaml/mobile_base/diff_drive_base.yaml" command="load"/>
    <remap from="mobile_base/joint_command/wheel_left" to="joint_command/wheel_left"/>
    <remap from="mobile_base/joint_state/wheel_left" to="joint_state/wheel_left"/>
    <remap from="mobile_base/joint_command/wheel_right" to="joint_command/wheel_right"/>
    <remap from="mobile_base/joint_state/wheel_right" to="joint_state/wheel_right"/>
    <remap from="mobile_base/cmd_vel" to="cmd_vel"/>
    <remap from="mobile_base/odom" to="odom"/>
    <remap from="mobile_base/enable" to="enable"/>
    <remap from="mobile_base/disable" to="disable"/>
  </node>

  <!-- Velocity commands multiplexer -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet robot_core">
    <param name="yaml_cfg_file" value="$(find korus_meta)/resources/yaml/mobile_base/vel_multiplexer.yaml"/>
    <remap from="cmd_vel_mux/output/cmd_vel" to="cmd_vel"/>
  </node>
</launch>
