<!--
  All Goos united
  - Goo base (wheel_left & wheel_right)
  - Goo torso (torso_turn & torso_lift)
  - Goo arm upper (shoulder & elbow)
  - Goo arm lower (wrist & gripper)
  - Goo head (head_pan & head_tilt)
  
  This can be used for both simulation and the robot by making sure the simulation arg is set
  true or false respectively.
-->

<launch>
  <arg name="simulation"/>
  <arg name="cfg_sim" value="simulation" if="$(arg simulation)"/>
  <arg name="cfg_sim" value="runtime"    unless="$(arg simulation)"/>
  <arg name="pot"/>
  <arg name="cfg_pot" value="_pot" if="$(arg simulation)"/>
  <arg name="cfg_pot" value=""     unless="$(arg simulation)"/>
  <arg name="position_controlled_base"/>
  <arg name="korus_1"/>
  <arg name="korus_2"/>

  
  <node pkg="nodelet" type="nodelet" name="goo" args="load goo/GooNodelet robot_core">
    <rosparam file="$(find korus_meta)/resources/yaml/goo/$(arg cfg_sim).yaml" command="load"/>
    <rosparam if="$(arg korus_1)" file="$(find korus_meta)/resources/yaml/goo/korus_1$(arg cfg_pot).yaml" command="load"/>
    <rosparam if="$(arg korus_2)" file="$(find korus_meta)/resources/yaml/goo/korus_2$(arg cfg_pot).yaml" command="load"/>
    <rosparam if="$(arg position_controlled_base)" file="$(find korus_meta)/resources/yaml/goo/korus_base_pos_ctrl.yaml" command="load"/>

    <!-- Base -->
    <remap from="goo/actuator_command/wheel_left" to="actuator_command/wheel_left"/>
    <remap from="goo/actuator_state/wheel_left" to="actuator_state/wheel_left"/>
    <remap from="goo/actuator_command/wheel_right" to="actuator_command/wheel_right"/>
    <remap from="goo/actuator_state/wheel_right" to="actuator_state/wheel_right"/>
    <!-- Torso -->
    <remap from="goo/actuator_command/torso_turn" to="actuator_command/torso_turn"/>
    <remap from="goo/actuator_state/torso_turn" to="actuator_state/torso_turn"/>    
    <remap from="goo/actuator_command/torso_lift" to="actuator_command/torso_lift"/>
    <remap from="goo/actuator_state/torso_lift" to="actuator_state/torso_lift"/>
    <!-- Arm upper -->
  	<remap from="goo/actuator_command/shoulder" to="actuator_command/shoulder"/>
  	<remap from="goo/actuator_state/shoulder" to="actuator_state/shoulder"/>
  	<remap from="goo/actuator_command/elbow" to="actuator_command/elbow"/>
  	<remap from="goo/actuator_state/elbow" to="actuator_state/elbow"/>
    <!-- Arm lower -->
    <remap from="goo/actuator_command/wrist" to="actuator_command/wrist"/>
    <remap from="goo/actuator_state/wrist" to="actuator_state/wrist"/>
    <remap from="goo/actuator_command/gripper" to="actuator_command/gripper"/>
    <remap from="goo/actuator_state/gripper" to="actuator_state/gripper"/>
    <!-- Head -->
    <remap from="goo/actuator_command/head_pan" to="actuator_command/head_pan"/>
    <remap from="goo/actuator_state/head_pan" to="actuator_state/head_pan"/>
    <remap from="goo/actuator_command/head_tilt" to="actuator_command/head_tilt"/>
    <remap from="goo/actuator_state/head_tilt" to="actuator_state/head_tilt"/>
    
    <remap from="goo/enable" to="enable"/>
    <remap from="goo/disable" to="disable"/>
  </node>
</launch>
