<!--
  Used for visualising the korus robot model.  
  
  Note, the joint_state_publisher comes from the urdf_tools package which is not exactly
  an official ros release, you might have to install that yourself.
  
  The view_model.vcg and the format for this launcher come from urdf_tutorials.
  
  See also the tutorials on the ros wiki:
  
  http://www.ros.org/wiki/urdf/Tutorials/Building%20a%20Visual%20Robot%20Model%20with%20URDF%20from%20Scratch
  http://www.ros.org/wiki/urdf/Tutorials/Building%20a%20Movable%20Robot%20Model%20with%20URDF
  http://www.ros.org/wiki/urdf/Tutorials/Adding%20Physical%20and%20Collision%20Properties%20to%20a%20URDF%20Model
 -->
<launch>
  <group ns="korus">
<!-- used with robosem, needed here as well?
    <param name="bond_disable_heartbeat_timeout" value="true"/>
--> 
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find korus_meta)/resources/urdf/korus_robosem_base_side_mount.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <param name="use_gui" value="true"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find korus_meta)/resources/rviz/view_model.vcg"/>
  </group>
</launch>
