<!--
  Model for the robot core
  
  - ycs_mechanism_model 
 -->
 
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find korus_meta)/resources/urdf/korus_v2.urdf.xacro'"/>
  <node pkg="nodelet" type="nodelet" name="mechanism_model" args="load ycs_mechanism_model/MechanismModel robot_core">
    <rosparam file="$(find korus_meta)/resources/yaml/mechanism_model/korus_v2_mechanism_model.yaml" command="load"/>
    
		<remap from="mechanism_model/actuator_command/wheel_left" to="actuator_command/wheel_left"/>
		<remap from="mechanism_model/actuator_state/wheel_left" to="actuator_state/wheel_left"/>
		<remap from="mechanism_model/joint_command/wheel_left" to="joint_command/wheel_left"/>
		<remap from="mechanism_model/joint_state/wheel_left" to="joint_state/wheel_left"/>
		
		<remap from="mechanism_model/actuator_command/wheel_right" to="actuator_command/wheel_right"/>
		<remap from="mechanism_model/actuator_state/wheel_right" to="actuator_state/wheel_right"/>
		<remap from="mechanism_model/joint_command/wheel_right" to="joint_command/wheel_right"/>
		<remap from="mechanism_model/joint_state/wheel_right" to="joint_state/wheel_right"/>
		
		<remap from="mechanism_model/actuator_command/torso_turn" to="actuator_command/torso_turn"/>
		<remap from="mechanism_model/actuator_state/torso_turn" to="actuator_state/torso_turn"/>
		<remap from="mechanism_model/joint_command/torso_turn" to="joint_command/torso_turn"/>
		<remap from="mechanism_model/joint_state/torso_turn" to="joint_state/torso_turn"/>
		
		<remap from="mechanism_model/actuator_command/torso_lift" to="actuator_command/torso_lift"/>
		<remap from="mechanism_model/actuator_state/torso_lift" to="actuator_state/torso_lift"/>
		<remap from="mechanism_model/joint_command/torso_lift" to="joint_command/torso_lift"/>
		<remap from="mechanism_model/joint_state/torso_lift" to="joint_state/torso_lift"/>
		
		<remap from="mechanism_model/actuator_command/shoulder_pitch" to="actuator_command/shoulder_pitch"/>
		<remap from="mechanism_model/actuator_state/shoulder_pitch" to="actuator_state/shoulder_pitch"/>
		<remap from="mechanism_model/joint_command/shoulder_pitch" to="joint_command/shoulder_pitch"/>
		<remap from="mechanism_model/joint_state/shoulder_pitch" to="joint_state/shoulder_pitch"/>
		
		<remap from="mechanism_model/actuator_command/elbow_pitch" to="actuator_command/elbow_pitch"/>
		<remap from="mechanism_model/actuator_state/elbow_pitch" to="actuator_state/elbow_pitch"/>
		<remap from="mechanism_model/joint_command/elbow_pitch" to="joint_command/elbow_pitch"/>
		<remap from="mechanism_model/joint_state/elbow_pitch" to="joint_state/elbow_pitch"/>
		
		<remap from="mechanism_model/actuator_command/wrist_pitch" to="actuator_command/wrist_pitch"/>
		<remap from="mechanism_model/actuator_state/wrist_pitch" to="actuator_state/wrist_pitch"/>
		<remap from="mechanism_model/joint_command/wrist_pitch" to="joint_command/wrist_pitch"/>
		<remap from="mechanism_model/joint_state/wrist_pitch" to="joint_state/wrist_pitch"/>
    
    <remap from="mechanism_model/actuator_command/wrist_roll" to="actuator_command/wrist_roll"/>
    <remap from="mechanism_model/actuator_state/wrist_roll" to="actuator_state/wrist_roll"/>
    <remap from="mechanism_model/joint_command/wrist_roll" to="joint_command/wrist_roll"/>
    <remap from="mechanism_model/joint_state/wrist_roll" to="joint_state/wrist_roll"/>
    		
		<remap from="mechanism_model/actuator_command/wrist_yaw" to="actuator_command/wrist_yaw"/>
    <remap from="mechanism_model/actuator_state/wrist_yaw" to="actuator_state/wrist_yaw"/>
    <remap from="mechanism_model/joint_command/wrist_yaw" to="joint_command/wrist_yaw"/>
    <remap from="mechanism_model/joint_state/wrist_yaw" to="joint_state/wrist_yaw"/>

		<remap from="mechanism_model/actuator_command/gripper" to="actuator_command/gripper"/>
		<remap from="mechanism_model/actuator_state/gripper" to="actuator_state/gripper"/>
		<remap from="mechanism_model/joint_command/gripper" to="joint_command/gripper"/>
		<remap from="mechanism_model/joint_state/gripper" to="joint_state/gripper"/>

		<remap from="mechanism_model/actuator_command/3d_sensor" to="actuator_command/3d_sensor"/>
		<remap from="mechanism_model/actuator_state/3d_sensor" to="actuator_state/3d_sensor"/>
		<remap from="mechanism_model/joint_command/3d_sensor" to="joint_command/3d_sensor"/>
		<remap from="mechanism_model/joint_state/3d_sensor" to="joint_state/3d_sensor"/>
		
    <remap from="mechanism_model/actuator_command/monitor" to="actuator_command/monitor"/>
    <remap from="mechanism_model/actuator_state/monitor" to="actuator_state/monitor"/>
    <remap from="mechanism_model/joint_command/monitor" to="joint_command/monitor"/>
    <remap from="mechanism_model/joint_state/monitor" to="joint_state/monitor"/>

    <remap from="mechanism_model/actuator_command/tele_cam_pan" to="actuator_command/tele_cam_pan"/>
    <remap from="mechanism_model/actuator_state/tele_cam_pan" to="actuator_state/tele_cam_pan"/>
    <remap from="mechanism_model/joint_command/tele_cam_pan" to="joint_command/tele_cam_pan"/>
    <remap from="mechanism_model/joint_state/tele_cam_pan" to="joint_state/tele_cam_pan"/>
    
    <remap from="mechanism_model/actuator_command/tele_cam_tilt" to="actuator_command/tele_cam_tilt"/>
    <remap from="mechanism_model/actuator_state/tele_cam_tilt" to="actuator_state/tele_cam_tilt"/>
    <remap from="mechanism_model/joint_command/tele_cam_tilt" to="joint_command/tele_cam_tilt"/>
    <remap from="mechanism_model/joint_state/tele_cam_tilt" to="joint_state/tele_cam_tilt"/>
		
    <remap from="mechanism_model/actuator_states" to="actuator_states"/>
		<remap from="mechanism_model/joint_states" to="joint_states"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>
    