<!--
  Korus' minimal setup for mobile manipulation 
  
  In detail:
    * robot core (Goo, mechanism model, joint trajectory controller, ...)
    * sensors (3D sensor)
 -->
<launch>
  <!-- Parameters for minimal configuration -->
  <arg name="launch_hokuyo"           value="true"/>
  <arg name="launch_sonars"           value="false"/>
  <arg name="launch_sensor_3d"        value="true"/>
  <arg name="launch_stargazer"        value="true"/>
  <arg name="launch_gripper_camera"   value="false"/>
  <arg name="launch_gyro"             value="true"/>
  <arg name="launch_sensor_board"     value="true"/>
  <arg name="launch_remocon"          value="true"/>

  <!--  ************** Korus' minimal configuration **************  -->
  <include file="$(find korus_meta)/resources/launch/minimal.launch">
    <arg name="pot"                   value="false"/>
    <arg name="launch_hokuyo"         value="$(arg launch_hokuyo)"/>
    <arg name="launch_sonars"         value="$(arg launch_sonars)"/>
    <arg name="launch_sensor_3d"      value="$(arg launch_sensor_3d)"/>
    <arg name="launch_stargazer"      value="$(arg launch_stargazer)"/>
    <arg name="launch_gripper_camera" value="$(arg launch_gripper_camera)"/>
    <arg name="launch_gyro"           value="$(arg launch_gyro)"/>
    <arg name="launch_sensor_board"   value="$(arg launch_sensor_board)"/>
    <arg name="launch_remocon"        value="$(arg launch_remocon)"/>
  </include>
</launch>