<!--
  Object manipulation setup for Korus
  
  Combined launcher for the minimal config and the apps.
 -->
<launch>
  <!--  ************** Korus' minimal configuration **************  -->
  <include file="$(find korus_meta)/resources/launch/mobile_manipulation/mobile_manipulation_minimal.launch"/>

  <!--  ************** Korus' mobile manipulation apps **************  -->
  <include file="$(find korus_meta)/resources/launch/mobile_manipulation/mobile_manipulation_apps.launch"/>
</launch>