<!--
  The arm management group.
  
  - korus_kinematics
  - ycs_move_arm
  
  These can be used as is.
 -->
<launch>
  <group ns="korus">
<!-- 
    <node pkg="nodelet" type="nodelet" name="move_arm" args="standalone ycs_move_arm/MoveArm" output="screen">
-->
    <node pkg="nodelet" type="nodelet" name="move_arm_node" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="move_arm" args="load ycs_move_arm/MoveArm move_arm_node">
      <!-- param remaps -->
      <remap from="move_arm/joint_names" to = "mechanism_model/joint_groups/arm"/>
      <!-- topic remaps -->
      <remap from="move_arm/joint_states" to="mechanism_model/joint_states"/>
      <remap from="move_arm/joint_trajectory_action/command" to="arm_action/command"/>
      <remap from="move_arm/joint_trajectory_action/goal" to="arm_action/goal"/>
      <remap from="move_arm/joint_trajectory_action/feedback" to="arm_action/feedback"/>
      <remap from="move_arm/joint_trajectory_action/status" to="arm_action/status"/>
      <remap from="move_arm/joint_trajectory_action/result" to="arm_action/result"/>
      <remap from="move_arm/joint_trajectory_action/cancel" to="arm_action/cancel"/>
    </node>
<!-- 
    <node pkg="nodelet" type="nodelet" name="kinematics" args="standalone korus_kinematics/KorusKinematics" output="screen">    
-->
    <node pkg="nodelet" type="nodelet" name="kinematics_node" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="kinematics" args="load korus_kinematics/KorusKinematics kinematics_node">
      <rosparam file="$(find korus_meta)/resources/yaml/move_arm/kinematics.yaml" command="load" />
      <!-- param remaps -->
      <remap from="kinematics/robot_description" to = "robot_description"/>
      <!-- topic/service remaps -->
	    <remap from="kinematics/get_fk" to="move_arm/arm_fk"/>
	    <remap from="kinematics/get_ik" to="move_arm/arm_ik"/>
	    <remap from="kinematics/get_fk_solver_info" to="move_arm/arm_fk_solver_info"/>
	    <remap from="kinematics/get_ik_solver_info" to="move_arm/arm_ik_solver_info"/>
    </node>
  </group>
</launch>
