<launch>
  <group ns="korus">
<!-- 	  <include file="$(find korus_moveit_config)/launch/planning_context.launch"> -->
<!-- 	    <arg name="load_robot_description" value="false"/> -->
<!-- 	  </include> -->
	  	
	<!--   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> -->
	<!--     <param name="/use_gui" value="false"/> -->
	<!--   </node> -->
	  
	<!--   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" /> -->
	
	  	
	  <arg name="rviz_args" value="-d $(find korus_moveit_config)/launch/korus/moveit_korus.rviz" />
	  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="$(arg rviz_args)" respawn="false" >
	    <rosparam command="load" file="$(find korus_moveit_config)/config/kinematics.yaml"/>
	  </node>
  </group>
</launch>