<launch>
    <node pkg="goo" type="potentiometers" name="goo_arm_upper">
        <rosparam file="$(find korus_meta)/resources/yaml/goo/arm_upper.yaml" command="load" />
        <remap from="goo_arm_upper/potentiometers" to="potentiometers"/>
        <param name="count" value="50"/>
    </node>
</launch>