<!-- 
  Launches all potentiometer launch files
 -->

<launch>
  <include file="$(find korus_meta)/resources/launch/configuration/pot_base.launch.launch"/>
  <include file="$(find korus_meta)/resources/launch/configuration/pot_arm_upper.launch.launch"/>
  <include file="$(find korus_meta)/resources/launch/configuration/pot_arm_lower.launch.launch"/>
<!--   <include file="$(find korus_meta)/resources/launch/configuration/pot_peripheral.launch.launch"/> -->
<!--  need to adapt the below so that it works with Korus, too! -->  
<!--   <node pkg="robosem_potentiometers" type="robosem_potentiometers.py" name="robosem_potentiometers" output="screen"/>   -->
</launch>