<launch>
  <group ns="korus">
    <node pkg="ycs_move_arm_an" type="move_arm_simple_action" name="move_arm" output="screen">
            <param name="group" type="string" value="arm" />
            <param name="controller_action_name" type="string" value="arm_controller" />
            <remap from="arm_ik" to="korus_arm_kinematics/get_constraint_aware_ik" />
            <remap from="/environment_server/set_planning_scene_diff" to="environment_server/set_planning_scene_diff" />
            <remap from="/trajectory_filter_server/filter_trajectory_with_constraints" to="trajectory_filter_server/filter_trajectory_with_constraints" />
<!--             
            <remap from="move_arm/joint_names" to = "mechanism_model/joint_groups/arm"/>
            <remap from="move_arm/joint_states" to="joint_states"/>
            <remap from="move_arm/joint_trajectory_action/command" to="arm_controller/command"/>
            <remap from="move_arm/joint_trajectory_action/goal" to="arm_controller/goal"/>
            <remap from="move_arm/joint_trajectory_action/feedback" to="arm_controller/feedback"/>
						<remap from="move_arm/joint_trajectory_action/status" to="arm_controller/status"/>
						<remap from="move_arm/joint_trajectory_action/result" to="arm_controller/result"/>
						<remap from="move_arm/joint_trajectory_action/cancel" to="arm_controller/cancel"/>
						<remap from="move_arm/arm_fk" to="korus_arm_kinematics/get_fk"/>
						<remap from="move_arm/arm_ik" to="korus_arm_kinematics/get_ik"/>
						<remap from="move_arm/arm_fk_solver_info" to="korus_arm_kinematics/get_fk_solver_info"/>
						<remap from="move_arm/arm_ik_solver_info" to="korus_arm_kinematics/get_ik_solver_info"/>     -->
    </node>
  </group>
</launch> 