<launch>
  <arg name="cvfh" default="false"/>
  <arg name="tod" default="false"/>

  <!-- database communication node -->
  <rosparam command="load" file="$(find korus_meta)/resources/yaml/object_recognition/yujin_household_objects_database.yaml"/>
  <node pkg="household_objects_database" name="objects_database_node" type="objects_database_node">
<!--     if either tod or cvfh are used, we don't prune grasps that collide with the table in upright -->
<!--     object orientation, since these detectors find objects in all orientations -->
    <param if="$(arg cvfh)" name="prune_table_clearance" value="-1.0"/>
    <param if="$(arg tod)" name="prune_table_clearance" value="-1.0"/>
    <param name="prune_table_clearance" value="-1.0"/>
  </node>
</launch>
