<!--
    Simulation launcher - just simulates the motor subsystem
 -->
 
<launch>
  <arg name="simulation" value="true"/>
  <include file="$(find korus_meta)/resources/launch/components/robot_core.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>
  <include file="$(find korus_meta)/resources/launch/components/move_arm.launch"/>
</launch>
